In [5]:
# Import Dependencies
import pandas as pd
import numpy as np

In [6]:
# define file path
csv_path = "Resources/AtlantaCrime.csv"
atlanta_df = pd.read_csv(csv_path)

atlanta_df.head()

/Users/nathanhigley/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (1,2,4,7,8,9,10,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Report Number,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
0,140011254.0,1/1/14,1/1/14,100.0,1/1/14,1200.0,306.0,2040 SYLVAN RD SW,Evening Watch,18,AUTO THEFT,720.0,2424,Sylvan Hills,X,33.69915,-84.41819
1,140012074.0,1/1/14,1/1/14,1940.0,1/1/14,1945.0,104.0,1565 MARTIN L KING JR DR,Evening Watch,31,ROBBERY-PEDESTRIAN,341.0,1206,Mozley Park,K,33.75290,-84.43904
2,140010429.0,1/1/14,1/1/14,226.0,1/1/14,227.0,109.0,738 CHURCH ST NW,Morning Watch,13,ROBBERY-PEDESTRIAN,311.0,1204,Center Hill,J,33.77575,-84.46804
3,140010494.0,1/1/14,1/1/14,245.0,1/1/14,250.0,102.0,292 JAMES P BRAWLEY DR NW,Morning Watch,26,AGG ASSAULT,410.0,1314,Vine City,L,33.76244,-84.41272
4,140011847.0,1/1/14,1/1/14,1750.0,1/1/14,1756.0,110.0,2044 RUTH ST NW,Evening Watch,20,AGG ASSAULT,410.0,1314,Grove Park,J,33.78554,-84.45441

In [19]:
date = atlanta_df['Occur Date']
crime = atlanta_df['UCR Literal']

summary_atl = pd.DataFrame({"Date of Crime" : date,
                           "Type of Crime " : crime})

summary_atl.head()

  Date of Crime      Type of Crime
0        1/1/14          AUTO THEFT
1        1/1/14  ROBBERY-PEDESTRIAN
2        1/1/14  ROBBERY-PEDESTRIAN
3        1/1/14         AGG ASSAULT
4        1/1/14         AGG ASSAULT