In [9]:
#Comparing Atlanta Crime and Moon Phase
#import stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
#grab clean Atlanta Crime Data
atl_path = "AtlantaCrimeSummary"
atlanta_df = pd.read_csv(atl_path)
atlanta_df.head()

  Date of Crime      Type of Crime
0        1/1/15  BURGLARY-RESIDENCE
1        1/1/15  BURGLARY-RESIDENCE
2        1/1/15  BURGLARY-RESIDENCE
3        1/1/15         AGG ASSAULT
4        1/1/15         AGG ASSAULT

moon_path = "Resources/MoonPhase.csv"
moon_df = pd.read_csv(moon_path)

In [11]:
#grab clean Moon Data
moon_path = "Resources/MoonPhase.csv"
moon_df = pd.read_csv(moon_path, encoding="ISO-8859-1")
moon_df.head()

      Moon Phase       Date Special Special Type
0      Full Moon   1/4/2015       n          NaN
1  Third Quarter  1/13/2015       n          NaN
2       New Moon  1/20/2015       n          NaN
3  First Quarter  1/26/2015       n          NaN
4      Full Moon   2/3/2015       n          NaN

In [ ]:
nasa_path = ""

In [12]:
#make a tally of how many crimes were commited in a day
crime_day = atlanta_df["Date of Crime"].value_counts()
crime_day = pd.DataFrame(crime_day)
crime_day.head()

          Date of Crime
6/26/15             123
10/10/15            121
10/24/15            120
7/2/15              119
8/28/15             117