In [232]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint 
import json

In [430]:
sachel=[]
bag=[]
for i in range(1070000,1340000,1000):
    url = (f'https://data.cityofchicago.org/resource/ijzp-q8t2.json?$limit=1000&$offset={i}')
    response=requests.get(url).json()
    for j in range(0,1000,1):
        if response[j].get('year')=='2015':
            sack=(response[j].get('date'), response[j].get('primary_type'),response[j].get('description'))
            bag.append(sack)
        else:
            sachel.append(response[j].get('year'))

In [457]:
bag_df = pd.DataFrame(bag)
chi_town = bag_df.rename(columns={0: 'Date', 1: 'Charge', 2: 'Description'})
chi_town

,Date,Charge,Description
0,2015-12-31T23:59:00.000,THEFT,FROM BUILDING
1,2015-12-31T23:59:00.000,CRIMINAL DAMAGE,TO VEHICLE
2,2015-12-31T23:55:00.000,BATTERY,AGGRAVATED: OTHER DANG WEAPON
3,2015-12-31T23:50:00.000,THEFT,$500 AND UNDER
4,2015-12-31T23:50:00.000,BATTERY,SIMPLE
...,...,...,...
264307,2015-01-01T00:00:00.000,CRIM SEXUAL ASSAULT,NON-AGGRAVATED
264308,2015-01-01T00:00:00.000,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300
264309,2015-01-01T00:00:00.000,OFFENSE INVOLVING CHILDREN,SEX ASSLT OF CHILD BY FAM MBR
264310,2015-01-01T00:00:00.000,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300
264311,2015-01-01T00:00:00.000,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER

In [459]:
chi_town['Charge'].unique()

array(['THEFT', 'CRIMINAL DAMAGE', 'BATTERY', 'OTHER OFFENSE', 'ROBBERY',
       'MOTOR VEHICLE THEFT', 'WEAPONS VIOLATION', 'CRIM SEXUAL ASSAULT',
       'ASSAULT', 'BURGLARY', 'DECEPTIVE PRACTICE', 'NARCOTICS',
       'CRIMINAL TRESPASS', 'OFFENSE INVOLVING CHILDREN',
       'INTERFERENCE WITH PUBLIC OFFICER', 'SEX OFFENSE', 'ARSON',
       'PUBLIC PEACE VIOLATION', 'PROSTITUTION', 'LIQUOR LAW VIOLATION',
       'HOMICIDE', 'INTIMIDATION', 'KIDNAPPING', 'OBSCENITY', 'STALKING',
       'NON-CRIMINAL', 'PUBLIC INDECENCY', 'NON - CRIMINAL',
       'CONCEALED CARRY LICENSE VIOLATION', 'GAMBLING',
       'HUMAN TRAFFICKING', 'OTHER NARCOTIC VIOLATION'], dtype=object)

In [439]:
with open('chi_town.txt', 'w') as f:
    for item in bag:
        f.write("%s\n" % str(item))

In [460]:
with open('chi_town.csv', 'w') as f:
    for item in bag:
        f.write("%s\n" % str(item))

In [444]:
sachel
sachel[len(sachel)-1]

'2014'