In [1]:
import requests
import json
import pandas as pd

In [2]:
url ="https://svs.gsfc.nasa.gov/vis/a000000/a004200/a004236/mooninfo_2015.json"

In [3]:
print(requests.get(url))

<Response [200]>

In [4]:
data = requests.get(url).json()
data_df = pd.DataFrame(data)
data_df = data_df.drop(['age', 'diameter', 'distance', 'j2000', 
                        'subsolar', 'subearth', 'posangle'], axis=1)
data_df.head()

                   time  phase
0  01 Jan 2015 00:00 UT  82.43
1  01 Jan 2015 01:00 UT  82.76
2  01 Jan 2015 02:00 UT  83.10
3  01 Jan 2015 03:00 UT  83.42
4  01 Jan 2015 04:00 UT  83.75

In [5]:
# new data frame with split value columns 
new = data_df["time"].str.split(" ", expand = True) 
  
# making separate first name column from new data frame 
data_df["date"]= new[0] 
  
# making separate last name column from new data frame 
data_df["time"]= new[1] 


data_df['day'] = data_df['date'].str.cat(data_df['time'],sep=" ")

data_df = data_df.drop(['time', 'date'], axis=1)

data_df.head()

   phase     day
0  82.43  01 Jan
1  82.76  01 Jan
2  83.10  01 Jan
3  83.42  01 Jan
4  83.75  01 Jan

In [6]:
grouped_data = data_df.groupby(['day'])
final_data = grouped_data.mean()
final_data = final_data.reset_index()
final_data.head()

      day      phase
0  01 Apr  91.903333
1  01 Aug  98.278750
2  01 Dec  67.615417
3  01 Feb  94.082500
4  01 Jan  85.044000

In [7]:
final_data.to_csv("NASAmeans", index=False, header=True)