In [2]:
#Comparing Atlanta Crime and Moon Phase
#import stuff
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
#grab clean Atlanta Crime Data
atl_path = "AtlantaCrimeCate.csv"
atlanta_df = pd.read_csv(atl_path)
atlanta_df.head()

  Date of Crime  Crime  Violent Crime  NonViolent Crime
0        1/1/15     87             30                57
1       1/10/15     71             17                54
2       1/11/15     82             23                59
3       1/12/15     95             25                70
4       1/13/15     64             26                38

moon_path = "Resources/MoonPhase.csv"
moon_df = pd.read_csv(moon_path)

In [4]:
#grab clean Moon Data
moon_path = "Resources/MoonPhase.csv"
moon_df = pd.read_csv(moon_path, encoding="ISO-8859-1")
moon_df.head()

      Moon Phase       Date Special Special Type
0      Full Moon   1/4/2015       n          NaN
1  Third Quarter  1/13/2015       n          NaN
2       New Moon  1/20/2015       n          NaN
3  First Quarter  1/26/2015       n          NaN
4      Full Moon   2/3/2015       n          NaN

In [8]:
nasa_path = "NASAmeans"
nasa_df = pd.read_csv(nasa_path, encoding="ISO-8859-1")
nasa_df.head()

      day      phase
0  01 Apr  91.903333
1  01 Aug  98.278750
2  01 Dec  67.615417
3  01 Feb  94.082500
4  01 Jan  85.044000

In [14]:
#crime on certain moon dates

       Date  Crime Count
0   6/26/15          123
1  10/10/15          121
2  10/24/15          120
3    7/2/15          119
4   8/28/15          117